{% extends 'main/base.html' %}
{% load static %}
{% block title %}О нас {% endblock %}
{% block head %} <link rel="stylesheet" href="{% static 'main/css/gallery.css' %}" /> {% endblock %}
{% block main %}
<div class="gallery-section">
    <h1>Наша галерея</h1>
    <div class="gallery-filter">
        <button class="filter-btn active" data-filter="all">Все</button>
        {% for value, label in categories.items %}
            <button class="filter-btn" data-filter="{{ value }}">{{ label }}</button>
        {% endfor %}
    </div>
    <div class="gallery-grid">
        {% for image in images %}
            <div class="gallery-item" data-category="{{ image.category }}">
                    <img src="{{ image.image.url }}" alt="{{ image.title }}">
                <div class="item-info">
                    <h3>{{ image.title }}</h3>
                    <p>{{ image.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
{% block js %}
<script src="{% static 'main/js/gallery.js' %}"></script>
{% endblock %}