{% extends 'main/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'main/css/index.css' %}"> {% endblock %}
{% block title %}Главная {% endblock %}
{% block main %}
<section class="hero-section">
    <h1>Добро пожаловать</h1>
    <h2>Pizza<span class="hero-section-symbol">&</span>Oven</h2>
    <hr>
    <h3>Пиццерия</h3>
    <a href="{% url 'catalog' %}" class="menu-button">Меню</a>
    <img class="left-pizza pizza-item" src="{% static 'main/img/tomato.png' %}" alt="">
    <img class="right-pizza pizza-item" src="{% static 'main/img/rosemary.png' %}" alt="">
</section>

<section class="history-section">
    <div class="history-wrapper">
        <div class="history-text-wrapper">
            <h4>Открой для себя</h4>
            <h3>Наша История</h2>
                <hr>
                <p>В 2010 году два друга, Вася 1 и Вася 2, открыли небольшую пиццерию на
                    окраине города. У них была мечта - привнести настоящий итальянский
                    вкус пиццы в наш город. Начав с маленькой кухни и всего трех видов
                    пиццы, они каждый день старались совершенствовать рецепты.</p>
                <a href="{% url 'about' %}" class="history-button">Больше</a>
        </div>
        <div class="history-img-wrapper"></div>
    </div>
</section>

<section class="new-items-section">
    <h3>Новинки в меню</h3>
    <hr>
    <h4>Попробуйте наши новые вкусы</h4>
    <div class="new-items-wrapper">
        {% for pizza in new_pizzas %}
        {% include 'main/includes/pizzas.html' %}
        {% endfor %}
    </div>
</section>
{% endblock %}
{% block js %}
<script src="{% static 'main/js/index.js' %}"></script>
{% endblock %}