{% extends 'main/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'carts/css/cart.css' %}" />
{%endblock %}
{% block title %}Корзина {% endblock %}
{% block main %}
<div class="cart-wrapper">
    <div class="cart">
        <h1>Корзина</h1>
        {% if carts %}
        {% for cart in carts %}

        <section class="order-section" data-cart-id="{{ cart.id }}">
            <div class="order-info">
                <div class="order-name">
                    <img src="{{ cart.pizza.image.url}}" alt="">
                    <p>{{cart.pizza.name}}</p>
                </div>
                <div class="order-size">
                    <p>{{cart.size}} см</p>
                </div>

                <div class="order-quantity">
                    <button type="button" class="quantity-button decrement"
                        data-url="{% url 'cart_change' cart.id %}">-</button>
                    <p class="item-quantity">{{cart.quantity}}</p>
                    <button type="button" class="quantity-button increment"
                        data-url="{% url 'cart_change' cart.id %}">+</button>
                </div>
            </div>

            <div class="order-price">
                <p class="item-price">{{cart.pizzas_price}}</p>
            </div>
            <div class="order-remove">
                <button class="remove-button" data-url="{% url 'cart_remove' cart.id %}">Удалить</button>
            </div>
        </section>
        {% endfor%}
        <section class="price-section">
            <h2>Стоимость заказа</h2>
            <div class="row">
                <h3>Количество</h3>
                <p id="cart-total-quantity">{{carts.total_quantity}}</p>
            </div>

            {% if discount %}
            <div class="row">
                <h3> Скидка</h3>
                <p>{{discount}}%</p>
            </div>
            {% endif %}
        
            <div class="row">
                <h3>Итого </h3>
                <p id="cart-total-price">{{total_price}}</p>
            </div>
            <a href="{% url 'orders:order_create' %}" class="order-create-button">Оформить заказ</a>
        </section>
        {%else %}
        <h2>Ваша корзина пустая</h1>
            {% endif %}
    </div>
    {% endblock %}
    {% block js %}
    <script src="{% static 'carts/js/cart.js' %}"></script>
    {% endblock %}